/**
* reporte detalle receta paciente
* ancho 15.8 cm
* alto 20.3 cm
*/


/* #size-receta {
    width: 158mm;
    height: 203mm;
    background-color: #ffffff;
    text-transform: uppercase;
    padding-top: 105px;padding-left: 37px;padding-right: 37px;padding-bottom: 200px;
}

@media print {
    .page-content {
        padding: 0;
        margin: 0;
    }
    .site-menubar-unfold {
        padding: 0;
        margin: 0;
    }
    #size-receta {
        width: 158mm;
        height: 203mm;
        border-top: 1px dashed #000;
        margin: 0;
        padding-top: 105px;padding-left: 37px;padding-right: 37px;padding-bottom: 200px;
    }
    .box-firma {
        padding-top: 100px;
    }
    body {
        padding-top: 0;
    }
} */


/**
 * reporte kardex paciente
 */

.size-middle-carta {
    width: 100%;
    background-color: #ffffff;
    text-transform: uppercase;
    padding: 40px;
    margin-top: 40px;
}

.box-firma {
    padding-top: 100px;
}

.print-view-logo {
    width: 100%;
    position: relative;
    top: -20px;
}

.print-conent-logo img {
    width: 100%;
    max-width: 150px;
}

@media print {
    .page-content {
        padding: 0;
        margin: 0;
    }
    .site-menubar-unfold {
        padding: 0;
        margin: 0;
    }
    .size-middle-carta {
        width: 216mm;
        height: 279mm;
        border-top: 1px dashed #000;
        margin: 0;
        margin-top: 0;
        padding: 40px;
    }
    .box-firma {
        padding-top: 100px;
    }
    body {
        padding-top: 0;
    }
}

.comprobante tbody tr td {
    white-space: normal;
    word-break: normal;
}


/* index de reportes */

.page {
    background: #fff;
    border-radius: 1em;
    margin: 1em;
    min-height: 500px;
    padding: 1em;
}

.icon-home {
    color: #666;
    font-size: 60px;
    margin: 20px;
}

.btn-home-admin {
    font-size: 25px;
}