hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #a6a6a6;
    
}

/*para el header del titulo que se muestra en el nave header del sitio*/
.padding-cero h4{
    padding: 0;
    margin-bottom: 0;
}

