.table-show-small{
    min-height:100px;
}

.st-credential-card{
    background:#ccc; 
    width:250px;
    height:350px;
}
.st-credential-card-foto{
    width: 108px;
    height: 132px;
    background: #ccc;
    display: block;
    margin: 0 auto;
}

.st-credential-card-student{
    background:#ccc; 
    width:390px;
    height:250px;
    padding: 0;
}

.st-credential-card-foto-student{
    width: 108px;
    height: 132px;
    background: #ccc;
    display: block;
    margin-top: 10px;
    margin-left: 10px ;
    box-shadow: 0px 5px 12px 0px #000;
}
.st-credential-block-right{
    display: block;
    width: 260px;
    float: right;
    padding: 5px 20px;
}
.st-credential-block-left{
    display: block;
    width: 130px;
    float: left;
    padding-top: 20px;
    padding-left: 15px;
}

.st-credential-card-head{
    width: 100%;
    height: 96px;
    padding-top: 9px;
}
.st-credential-card-nombre{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fbc935;
    text-transform: uppercase;
    padding-top: 20px;
}
.st-credential-card-cargo{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 2px;
}
.st-credential-card-ci{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fbc935;
    text-transform: uppercase;
    padding-top: 5px;
}

.st-credential-card-about{
    width: 100%;
    height: 261px;
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
}
.st-credential-card-about-estudiante{
    width: 100%;
    // height: 105px;
    height: 160px;
    text-align: center;
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #424242;
    // text-transform: uppercase;
    padding: 10px;
    line-height: 9pt;
}

.barcode{
    width: 100%;
    margin: 0 auto;
    padding-left: 54px;
}
.barcode-estudiante{
    width: 100%;
    padding-left: 17%;
}

.title-header-page{
    text-transform: uppercase; 
    color: #000000;
    margin-top:0;
}

/**
 * style overide
 */
.panel-heading{
    padding: 2rem;
}
.panel-title{
    padding: 0;
}
/**
* style overide
*/
@media (min-width: 600px){
    .small-1 {
        width: 100%;
    }
}
 
@media (min-width: 1159px) {
    .small-1 {
        width: 50%;
        float: left;
    }

}



/**
 * card css of template for dash board
 */
/* .card{
    position: relative;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e0e0e0;
    border-radius: .215rem;
} */

/* .card-dashboard{ */
    /* text-decoration: none; */
/* } */
/* .card-dashboard:hover{
    text-decoration: none;
    background-color: #eeeff7;
} */






.estantes-td{
    width: 152px;
    padding:10px;
}
.estantes-td a {
    width: 133px;
}


.estante{
    display: block;
    /* width: 198px; */
    // width: 132px;
    width: 100%;
    /* height: 240px; */
    height: 400px;
    // background-color: #36459b;
    background-color: #a7a5a8;
    /* background-image: url(../images/estante.png); */
    /* background-size: 100%; */
    /* color:#ffffff; */
    /* padding: 31px; */
    /* padding-top: 87px; */
    /* font-size: 23px; */
    /* text-justify: auto; */
    /* text-transform: uppercase; */
    /* text-align: center; */
}
.estante:hover{
    color: #000000;
    background-color: #ccc;
    text-decoration: none;
}

.casillero{
    display: inline;
    width: 66px;
    height: 80px;
    float: left;
    /* background-color: #36459b; */
    /* background-image: url(../images/estante.png); */
    /* background-size: 100%;
    color:#ffffff;
    padding: 31px;
    padding-top: 87px;
    font-size: 23px;
    text-justify: auto;
    text-transform: uppercase;
    text-align: center; */
}

/*Min backgroun casilleros*/
.casillero-disponible{
    background-image: url(../images/casillero-disponible-min.png);    
    padding-top: 36px;    
}
.casillero-ocupado{
    background-image: url(../images/casillero-ocupado-min.png);  
    padding-top: 36px;      
}
.casillero-observado{
    background-image: url(../images/casillero-observado-min.png);    
    padding-top: 36px;    
}

// mostrando el numero de casillero en la pagina de estantes
.casillero-disponible, .casillero-observado, .casillero-ocupado > span{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

/*Big backgroun casilleros*/
.casillero-big{
    display: block;
    width: 200px;
    height: 238px;
    float: left;
    padding-top: 68px;
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}
.casillero-disponible-big{
    background-image: url(../images/casillero-disponible.png);   
    background-size:100%;     
}
.casillero-ocupado-big{
    background-image: url(../images/casillero-ocupado.png);    
    background-size:100%;    
}
.casillero-observado-big{
    background-image: url(../images/casillero-observado.png);  
    background-size:100%;      
}
.table-estante{
    // background: #36459b;
    background: #a7a5a8;
}




/*estilos para la credencial del estudiante*/
$paddingCardEstudiante: 10;
.row-custom-top{
    width: 100%;
    height: 80px;
}
.row-custom-bottom{
    width: 100%;
    height: auto;
}
.col-custom-6{
    width: (390px/2)-$paddingCardEstudiante;
    float: left;
    padding: $paddingCardEstudiante+px;
    img{
        // width: (110px-$paddingCardEstudiante);
        width: (141px-$paddingCardEstudiante);
        height: auto;
    }
}
.col-custom-picture{
    width: 153px;
    height: 119px;
    float: left;
    padding: 0 5px 5px 23px;
    overflow-y: hidden;
    overflow-x: hidden;
    img{
        width: 100%;
        height: auto;
        box-shadow: none;
        border: 0;
        margin:0;
        background-position: center;
    }
}
.content-value-1{
    width: 90%;
    // height: 30px;
    background: white;
    border-radius: 10px;
    margin:5px auto;
    padding: 5px;
}
.content-value-2{
    width: 97%;
    height: 30px;
    background: white;
    border-radius: 10px;
    margin:5px;
    padding: 5px;
}

.col-custom-data{
    width: 235px;
    padding: 5px;
    height: auto;
    float: left;
}
.space-block{
    width: 100%;
    height: 18px;
}

.est-data-color-1{
    color:#e99988;
}

.est-data-color-3{
    color: #000000;
}

.est-data-color-2{
    color: #ffffff;
}

// label para el color ocupado
.label.label-ocupado{
    background-color: #1e82f1;
}
// label para el color expirdisimo
.label.label-expiradisimo{
    background-color: #2b0c5c;
}
// label para color expirado
.label.label-dark{
    background-color: #000000;
}

// label para color debe
.label.label-debe{
    background-color: #ff0000;
}

.informacion-colores {
    width: 300px;
    height: auto;
    padding: 20px;
    background: white;
    position: fixed;
    z-index: 5000;
    right: 20px;
    bottom: 20px;
    border: 1px solid black;
}