$grosorLinea :5px;

.cuadernillo-encabezado{
    width: 100%;
    background-color: white;
    border-top: $grosorLinea solid black;
    border-left: $grosorLinea solid black;
    border-right: $grosorLinea solid black;
    padding: 5px;

    h4{
        padding: 0;
        margin: 0;
        font-weight: bold;
        font-family: 'Times New Roman';
    }
    label{
        font-weight: bold;
        font-family: 'Times New Roman';
    }
}
    .cuadernillo-marco{
        width: 100%;
        background-color: white;
        border:$grosorLinea solid black;
        padding: 20px;
    }
        .cuadernillo-col-left{
            display: block;
            width: 50%;
            height: auto;
            float: left;
            padding: 5px;
        }
        .cuadernillo-col-right{
            display: block;
            width: 50%;
            height: auto;
            float: left;
            padding: 5px;
        }

        .cuadernillo-line{
            width: 100%;
            height: $grosorLinea;
            border-top: 1px dotted black;
        }

        .cuadernillo-espacio-sello{
            width: 100%;
            // padding-top:40px;
            margin-top:40px;
            display: block;
        }

        .cuadernillo-sello{
            width: 100%;
            // padding-top:40px;
            height: 73px;
            display: block;
            background-size: 100%;
            // margin-top: 20px;
            // border-bottom: 1px dotted black;

            // img{
            //     // background:url(../images/sello.png);
            //     text-align: center;
            // }
        }

        .cuadernillo-nombre-tag{
            padding-top: 10px;
            display: block;
            font-family: 'Times New Roman';
        }

        .cuadernillo-espacio-bottom{
            width: 100%;
            height: 200px;
        }

        .cudernillo-navigate-left{
            position: absolute;
            top:200px;
            left:-93px;
        }
        .cudernillo-navigate-right{
            position: absolute;
            top:200px;
            right:-93px;
        }

        .form-control-cuadernillo{
            // border: 0;
            // background-image: linear-gradient(#273eb0, #273eb0),
            // linear-gradient(#D2D2D2, #D2D2D2);
            // background-size: 0 2px,
            // 100% 1px;
            background-repeat: no-repeat;
            background-position: center bottom,
            center calc(100% - 1px);
            background-color: rgba(0, 0, 0, 0);
            transition: background 0s ease-out;
            float: none;
            box-shadow: none;
            border-radius: 19px;
            padding:5px;
            font-weight: 400;
        }