.wrapper{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100vh;
    background-color: #342f2b;
    background: url(../images/login.jpg) no-repeat; 
    background-position: center;
    // background-size: 100%;
    // background-repeat: no-repeat;
}

.form-signin{
    // width: 100%;
    // max-width: 330px;
    width: 357px;
    height: auto;

    padding: 15px;
    margin: auto;
    // color:white;
    color:#999;
}
// body{
//     background-color: #3a3a3a;
//     background-image:url(../images/login.jpg);
//     color: white;
// }
.form-control{
    // color:white;
    color:#999;
}

// .form-group .field-login-rememberme .checkbox label{
.form-group .checkbox label, .form-group .radio label, .form-group label{
    // color: white !important;
    color: #999 !important;
}
// a{
//     // color: #ff00e0 !important;
//     color: #999 !important;
// }


// nav bar
.navbar {
    border: 0;
    border-bottom: none;
    padding: 10px 0;
}
    .navbar.navbar-inverse {
        background-color: transparent;
        color: #fff;
    }