.navbar-brand{
    text-transform: uppercase;
}
.table .btn-just-icon{
    margin: 0;
}
.card .table td{
    padding: 5px;
}
.form-group .is-empty{
    margin:0;
}


/* para el tamaño de estrellas del formulario de interesado */
.form-group img{
    width: 20px;
}

.imagen-profile{
    overflow: hidden;
    height: 237px;
    padding:20px;
    width: 100%;
    margin-bottom: 20px;
}

.imagen-profile img{
    // box-shadow: 0px 10px 20px 0px #000000;
    width: 100%;
    height: auto;
} 

.image-in-table{
    width: 40px;
    /* height: 50px; */
    display: block;
}
.image-in-table img{
    border-radius: 5px;
    width: 100%;
    height: auto;
}

/* class for inputs requireds */
label.required:after {content: " *"; color: red;}

/* for for in print media to content */
@media print{
    .main-panel > .content{
        margin-top:0;
        padding:0; 
    }
    .card{
        margin: 0;
    }
    h3{
        margin:0;
    }
    .table{
        margin-bottom:0;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        padding: 6px 4px;
    }
    body{
        font-size: 11px;
    }
}


/**
 * reporte compprobante de inscripcion
 */
  .size-middle-carta {
      width: 100%;
      background-color: #ffffff;
      text-transform: uppercase;
      padding: 40px;
      margin-top: 40px;
  }

  .box-firma {
      padding-top: 100px;
  }

  .print-view-logo {
      width: 100%;
      position: relative;
      top: -20px;
      /* background-color:black; */
  }

  .print-conent-logo img{
      width: 100%;
      max-width: 150px;
  }

  @media print {
      .page-content {
          padding: 0;
          margin: 0;
      }
      .site-menubar-unfold {
          padding: 0;
          margin: 0;
      }
      .size-middle-carta {
          width: 216mm;
          height: 139.5mm;
          border-top: 1px dashed #000;
          margin: 0;
          margin-top: 0;
          padding: 40px;
      }
      .box-firma {
          padding-top: 100px;
      }
      body {
          padding-top: 0;
      }
  }

  .comprobante tbody tr td{
    white-space: normal;
    word-break: normal;

  }






  
/*Para centrear las columnas bootstrap*/
.col-centered{
    float: none;
    margin: 0 auto;
}


/* break all word in view tables detail */
#w1.table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    word-break: break-all;
}
/* break all word in view tables CRUD KARTIK */
#crud-datatable-container>table>tr>td{
    word-break: break-all;
}
/*para mostrar * en los campos requiridos de los formularios*/
div.required label:after {
    content: " *";
    color: red;
}

.number-circle {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: 50px;
  height: 50px;
  padding: 8px;
  background: #c0392b;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.number-circle-disabled {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: 50px;
  height: 50px;
  padding: 8px;
  background: #eeeeee;
  border: 2px solid #c0392b;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}


.stepwizard-step p {
    margin-top: 0px;
    color:#666;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
// .stepwizard-step button[disabled] {
//     /*opacity: 1 !important;
//     filter: alpha(opacity=100) !important;*/
// }
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

/*color de los hints de ayuda*/
.hint-block{
    color: #00bcd4;
}
.bg-gray{
    background-color: #dddddd;
}
.bg-dark{
    background-color: #000000;
}
.text-dark{
    color: #000000;
}
.text-clyan {
    color:rgba(0, 204, 255, 0.952);
}




/*LODING TO AJAX REQUESTS*/
.loading {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100vh;
    position: absolute;
    z-index: 4000;
    width: 100%;
    background: rgba(0, 0, 0, 0.36);
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    margin: auto;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Barra de progrecion de pasos*/
 $brand-primary: #4caf50;
 $white: #fff;
//  $grey-light: #ededed;
 $grey-light: #9e9999;

 %remain-steps {
     &:before {
         content: counter(stepNum);
         font-family: inherit;
         font-weight: 700;
     }

     &:after {
         background-color: $grey-light;
     }
 }

 .multi-steps {
     display: table;
     table-layout: fixed;
     width: 100%;

     >li {
         counter-increment: stepNum;
         text-align: center;
         display: table-cell;
         position: relative;
         color: $brand-primary;

         &:before {
             content: '\f00c';
             content: '\2713;';
             content: '\10003';
             content: '\10004';
             content: '\2713';
             display: block;
             margin: 0 auto 4px;
             background-color: $white;
             width: 36px;
             height: 36px;
             line-height: 32px;
             text-align: center;
             font-weight: bold;

             border: {
                 width: 2px;
                 style: solid;
                 color: $brand-primary;
                 radius: 50%;
             }
         }

         &:after {
             content: '';
             height: 2px;
             width: 100%;
             background-color: $brand-primary;
             position: absolute;
             top: 16px;
             left: 50%;
             z-index: -1;
         }

         &:last-child {
             &:after {
                 display: none;
             }
         }

         &.is-active {
             @extend %remain-steps;

             &:before {
                 background-color: $white;
                 border-color: $brand-primary;
             }

             ~li {
                 color: #808080;
                 @extend %remain-steps;

                 &:before {
                    //  background-color: $grey-light;
                     background-color: $white;
                     border-color: $grey-light;
                 }
             }
         }
     }
 }




 /* ANimacion loading small to notificactions */
 .lds-dual-ring {
     display: inline-block;
     width: 10px;
     height: 10px;
 }

 .lds-dual-ring:after {
     content: " ";
     display: block;
     width: 15px;
     height: 15px;
     margin: 1px;
     border-radius: 50%;
     border: 1px solid #000;
     border-color: #000 transparent #000 transparent;
     animation: lds-dual-ring 1.2s linear infinite;
 }

 @keyframes lds-dual-ring {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }